* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #F8FAFC;
    color: #1E293B;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2563EB;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #1E293B;
    font-weight: 500;
}

/* Button */
.btn-primary {
    background: #2563EB;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: #1E40AF;
}

/* Hero Section */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #64748B;
    margin-bottom: 30px;
}

.big-btn {
    padding: 12px 25px;
    font-size: 16px;
}
.auth-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    text-align: center;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.auth-container button {
    width: 100%;
    margin-top: 15px;
}